.call-to-action-bubble,
.beta-pill {
  font-weight: var(--font-weight-semibold);
  display: inline-block;
  font-size: var(--font-size-xs);
  border: 1px solid var(--call-to-action-bubble-border-color);
  color: var(--call-to-action-bubble-color);
  padding: 1px 5px;
  border-radius: var(--border-radius);
  margin-left: var(--spacing-third);
  cursor: pointer;
}
